{% extends 'base.html.twig' %}

{% block body %}
	<!-- Header -->
	<header id="header">
		<h2 id="loading-p" class="loading-dots">$1.00 USD {{ 'average_price_result'|trans }} $<span id="average-price">0.00</span> CUC</h2>

		<p class="calculation-note"><em>{{ 'calculation_note'|trans|raw }} <a target="_blank" href='{{ search_page_url }}?q="{{ search_text }}" {{ banned_words|prefix_banned_words|join(' ') }}&min_price={{ min_price }}&max_price={{ max_price }}'>revolico.com/compra-venta/divisas/</a></em></p>
	</header>

{% endblock %}
