{% extends 'base.html.twig' %}

{% block body %}
	<!-- Header -->
	<header id="header">
		<h1>{{ platform_name }}</h1>
		<p>
			<strong>$1.00 USD</strong> {{ 'average_price_result'|trans }} <strong>$<span id="average-price">0.00</span> CUC</strong>
		</p>
		<p class="calculation-note"><em>({{ 'calculation_note'|trans }} <a target="_blank" href="{{ search_page_url }}?q={{ search_text }}&min_price={{ min_price }}&max_price={{ max_price }}">revolico.com/compra-venta/divisas/</a>)</em></p>
	</header>

{% endblock %}
