<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{{ google_tag_manager_head() }}
		<title>
			{% block title %}
				{{ platform_name }}
			{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="is-preload">
		{{ google_tag_manager_body() }}

		{# GH Corner #}
		{% include 'components/gh-corner.html.twig' %}

		{% block body %}{% endblock %}

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li>
					<a href="{{ twitter_profile_link }}" class="icon brands fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a href="{{ gh_repo_url }}" class="icon brands fa-github">
						<span class="label">GitHub</span>
					</a>
				</li>
				{# <li><a href="mailto:hi@corp.info" class="icon fa-envelope"><span class="label">Email</span></a></li> #}
				<li>
					<a href="javascript:;" data-micromodal-trigger="modal-1" class="modal-trigger">{{ 'how_it_works'|trans }}
						<i class="fas fa-question"></i>
					</a>
				</li>
				{# <li>
					<a href="{{ path('history') }}">
						<i class="fas fa-chart-line"></i>
					</a>
				</li> #}
				{# <li><a href="{{ path('get_average_price') }}">API</a></li> #}
			</ul>
			<ul class="copyright">
				<li>&copy;
					<span id="current-year"></span>
					<a href="{{ path('home') }}" class="link-home">{{ platform_name }}</a>
				</li>
				<li>Dev:
					<a target="_blank" href="https://twitter.com/n3rdh4ck3r">@n3rdh4ck3r</a>
				</li>
				<li>{{ 'copyright_design'|trans }}:
					<a target="_blank" href="http://html5up.net">HTML5 UP</a>
				</li>
			</ul>
		</footer>


		{# Modal #}
		{% include 'components/modal.html.twig' %}


		{% block javascripts %}
			{{ encore_entry_script_tags('symfonyux') }}
			{{ encore_entry_script_tags('app') }}
			<script type="text/javascript">
				var d = new Date();
var currentYear = d.getFullYear();
document.getElementById("current-year").innerHTML = currentYear;
			</script>
		{% endblock %}

		{{ google_tag_manager_body_end() }}
	</body>
</html>
